 *{
    /* margin:5px 0 ; */
    height:80px;
} 
nav{
    width:100%;
    margin:5px;
    background-color: #004074;
    height:80px;
    text-align: center;
}
section{
    width:100%;
    margin:5px;
    background-color: darkred;
    height:80px;
    text-align: center;
}
.content1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content1 .section1{
    background-color: #8ab5d6;
    text-align: center;
    margin:5px;
    flex:1;

}
.content1 .section2{
    background-color: yellow;
    text-align: center;
    margin:5px;
    flex:1;
}
.content1 .section3{
    background-color: greenyellow;
    text-align: center;
    margin:5px;
    flex:1;
}
.content1 .section4{
    background-color: orange;
    text-align: center;
    margin:5px 0px 5px 5px;
    flex:1;
}
.content2{
    display: flex;
    justify-content: space-between;
    margin:5px;

}
.content2 .section5,.section6{
    background-color:#004074;
    text-align: center;
    flex:1;
    margin: 5px 0 5px 5px;

}
footer{
    width:100%;
    background-color: #999;
    height:80px;
    text-align: center;
    margin-top: 15px;
    margin-right: 5px;
    margin-left: 5px;
}
@media screen and (max-width:600px) {
    *{
        width:auto;
    }
    .content1,.content2{
        flex-direction: column;
        flex-wrap: wrap;
    }
    
}


/*tih*/
    

